.js-no .js-visible {
  display: none;
  visibility: hidden;
}

.js-enabled .link-back.js-visible {
  display: inline-block;
  visibility: visible
}

@media (min-width: 641px){
    .autocomplete__wrapper {
      width: 50%;
    }
}

.autocomplete__wrapper input[type="text"] {
  width: 100%
}

.autocomplete__menu--inline {
  position: absolute;
  z-index: 999;
}

.add-remove__item {
  border-bottom: 1px solid #bfc1c3;
  padding: 30px 0;
}

.country-outer select {
  display: block;
  background-color: #fff;
  min-width: 200px;
}

.govuk-related-items {
  margin-top: 30px;
  border-top: 10px solid #005ea5;
  padding-top: 5px;
}

.govuk-related-items .heading-medium, 
.govuk-related-items .heading-24 {
  margin-top: 0.3em;
  margin-bottom: 0.5em;
}

.govuk-related-items li {
  margin-bottom: 10px;
  list-style-type: none;
}

.form-group-error .error-message {
    display: block;
}

h1 {
  margin: 0;
}

.language-toggle {
    float: right;
    margin: 0;
}

.govuk-visually-hidden {
    border: 0;
    clip-path: inset(50%);
    display: inline-block;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    width: 1px;
    white-space: nowrap; /* 1 */
}

.govuk-visually-hidden.focusable:active,
.govuk-visually-hidden.focusable:focus {
    clip: auto;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}